{%- comment -%}
  Generates JSON-LD for Google’s ProfilePage rich-result.
  Include this file **after** {% seo %} so it complements, not conflicts.
{%- endcomment -%}

{%- assign created  = site.posts.last.date | date_to_xmlschema -%}
{%- assign modified = page.last_modified_at | default: site.time | date_to_xmlschema -%}


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "dateCreated": "{{ created }}",
  "dateModified": "{{ modified }}",

  "mainEntity": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "alternateName": {{ site.author.alternate_names | jsonify }},
    "description": "{{ site.author.description | escape }}",
    "image": [
      "{{ site.url }}{{ site.author.image }}",
      "{{ site.url }}{{ site.author.image_backup }}",
      "{{ site.url }}{{ site.author.image_192 }}",
      "{{ site.url }}{{ site.author.image_32 }}",
      "{{ site.url }}{{ site.author.image_16 }}"
    ],
    "sameAs": {{ site.social.links | jsonify }},
    "knowsAbout": {{ site.author.knows_about | jsonify }},
    "jobTitle": "{{ site.author.job_title }}"
  }
}
</script>