{% assign image_path = "//i.chenna.me/photos/prod/opt/" | append: include.base_image_name %}

<div class="photo-thumb">
  <img
    src="{{ image_path }}-small.jpg"
    srcset="{{ image_path }}-small.jpg 320w,
            {{ image_path }}-medium.jpg 640w,
            {{ image_path }}-large.jpg 1024w,
            {{ image_path }}-xlarge.jpg 1920w"
    sizes="(max-width: 320px) 320px,
           (max-width: 640px) 640px,
           (max-width: 1024px) 1024px,
           1920px"
    title="{{ include.alt }}"
    alt="{{ include.alt }}"
    width="{{ include.width }}"
    height="{{ include.height | default: 'auto' }}"
    loading="lazy"
    decoding="async"
    class="responsive-image"
    data-lightbox-src="{{ image_path }}-xlarge.jpg"
  />
</div>
