html,
body {
    background-color: #fffff8;
    color: #111111;
}

a,
a:visited,
a:active {
    color: $royal-blue;
}

a:hover {
    background-color: $a-background;
    color: $utah-red;
}

h1,
h2,
h3 {
    color: $headings;
    font-weight: bold;
}

h1 a,
h1 a:visited,
h1 a:active {
    color: $utah-red;
}

h1 a:hover {
    background-color: $a-background;
}

article.post h1 a {
    color: $cerulean-blue;
}

#sidebar a:hover {
    color: $utah-red;
}

p code {
    background-color: #fff8ff;
}

li code {
    background-color: #fff8ff;
}
