---
layout: default
title: Work * Chenna Kautilya * Robots, Machine Learning and Lots of Hacks.
---

<p>I did some work.</p>

<p><b>Others</b>: Motion Planning: TrajOpt, RRT and Variants, RealTime RRT*;
Image Segmentation with GMM, Image De- noising using MRF;</p>


{% for project in site["projects"] %}

  <article class="post">

    {% if project.external-url %}
      <h1>
        <a href="{{ project.external-url }}">{{ project.title }}</a>
        <a class="anchor" href="{{ project.url }}"><i class="icon-anchor"></i></a>
      </h1>
    {% else %}
      <h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
    {% endif %}

    <div class="post-content">{{ project.content }}</div>

  </article>

{% endfor %}
