---
layout: default
---
<article class="post">

  {% if page.mathjax %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
  {% endif %}

  <h1>{% include title_emoji.html %}</h1>
  {% if page.external-url %}
  <p class="meta"><span class="postdate">Link: <a href="{{ page.external-url }}">{{ page.external-url }}</a></span></p>
  {% endif %}

  {% include toc.html html=content class="toc" %}
  <div class="post-content">{{ content }}</div>

  <div class="post-footer">
    <address>By
      {% if page.author %}<a>{{ page.author }}</a>
      {% elsif site.author["name"] %}<a>{{ site.author["name"] }}</a>
      {% elsif site.author %}<a>{{ site.author }}</a>
      {% else %}<a>Jane Doe</a>{% endif %}</address>
    <p class="meta">Posted on <span class="postdate"><time datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished">{{ page.date | date: "%b %d, %Y" }}</time>{% if page.last_modified_at %}
        (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{
          page.last_modified_at | date: "%b %d, %Y" }}</time>){% endif %}</span>
    </p>
    <p>{% for tag in page.tags %}<a href="/tags/#{{ tag | slugify }}" rel="tag">{{ tag }}</a>{% endfor %}</p>
  </div>

  <div class="post-comments">
    <script src="https://giscus.app/client.js"
        data-repo="hashb/chenna.me"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxMjY2NzEzNQ=="
        data-category="General"
        data-category-id="DIC_kwDOAMFI_84B_Mgr"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="preferred_color_scheme"
        crossorigin="anonymous"
        async>
    </script>
  </div>
</article>